<% provide(:title, "#{@lesson.title}") %>

<div class="row">
  <div class="col-sm-12 col-md-offset-2 col-lg-offset-2 col-md-8 col-lg-8">
    <%= @lesson.content.html_safe %>
  </div>
  <% if completed_lesson?(@lesson) %>
    <div class="col-md-offset-4 col-lg-offset-4 col-md-4 col-lg-4 center">
      <%= link_to "Go back to home page", lessons_path, class: "btn btn-primary" %>  
    </div>
  <% else %>
    <div class="col-md-offset-4 col-lg-offset-4 col-md-4 col-lg-4">
	  <%= form_for(current_user.lesson_completions.build) do |f| %>
	  <%= hidden_field_tag :lesson_id, @lesson.id %>
	  <%= f.submit "I have read this lesson and I understand it!", class: "btn btn-primary" %>
	  <% end %>
    </div>
  <% end %>
</div>